
$desktop: 1100px;
$tab: 700px;
$mini-tab: 500px;

:root,#root {
  --acc: #dc143c;
  --acc-100: #fa1140d0;
  --acc-200: #8b0000;
  --acc-300: #850000;
  --acc-400: #5f0a1b;
  
  --text: black;
  --bg: #fff;
  --cm: beige;
  --dk: #1a0707;
}